<div class="holder">
    <h3> Посещаемость курса Node.js </h3>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Май</a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Июнь</a>
        </li>
        <li role="presentation">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Июль</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th><strong> # </strong></th>
                            <th><strong> Имя Фамилия </strong></th>
                            <th><strong> 01 </strong></th>
                            <th><strong> 03 </strong></th>
                            <th><strong> 05 </strong></th>
                            <th><strong> 08 </strong></th>
                            <th><strong> 10 </strong></th>
                            <th><strong> 12 </strong></th>
                            <th><strong> 15 </strong></th>
                            <th><strong> 17 </strong></th>
                            <th><strong> 19 </strong></th>
                            <th><strong> 22 </strong></th>
                            <th><strong> 24 </strong></th>
                            <th><strong> 26 </strong></th>
                            <th><strong> 29 </strong></th>
                            <th><strong> 31 </strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong> 1 </strong></td>
                            <td>Student Name</td>
                            <td ><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td><strong> 2 </strong></td>
                            <td>Student Name</td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td><strong> 3 </strong></td>
                            <td>Student Name</td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>

                <span class="modal-1">
                    <span class="checkbox inline">
                        <input type="checkbox" checked>
                        <label></label>
                    </span>
                </span>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="profile">
            Июнь
        </div>

        <div role="tabpanel" class="tab-pane" id="messages">
            Июль
        </div>

    </div>
</div>